{% load static %}
{% block content %}

<style>
     * {
      font-style: normal;
    }
    body{
        /*background: gray;*/
        margin: 0;
        padding: 0;
        zoom: 80%;
        background: var(--main-white, #F5F5F5)
    }
    @font-face {
        font-family: 'Gropled';
        src: url('/static/fonts/Gropled-Bold.otf') format('opentype');
        font-weight: 700;
        font-style: normal;
    }
    @font-face {
        font-family: 'TT Fors';
        src: url('/static/fonts/TT Fors Trial Variable.ttf') format('truetype');
        font-weight: 400; /* Normal */
        font-style: normal;
    }
    @media (min-width: 1920px) {
        body {
            zoom: 100%;
        }
    }
    .header{
        align-items: center;
        transition: width 0.3s ease, border-radius 0.3s ease;
        margin-bottom: 10px;
        margin-top: 10px;
        margin-right: auto;
        margin-left: auto;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
        width: 73.75%;
        height: 100px;
        background: var(--main-grey, #232323);
        font-family: Fira Sans Condensed, sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        position: sticky;
        top: 10px;
        z-index: 10;
        border-radius: 20px;
    }
    .navbar{
        margin-bottom:auto;
        margin-top: auto;
        margin-left: auto;
        margin-right: 80px;
        height: 39px;
        width: auto;
        display: inline-flex;
        justify-content: flex-end;
        align-items: center;
        gap: 20px;
    }
    ul{
        gap: 20px;
        margin: 0;
        width: 100%;
        height: 100%;
        display: flex;
        list-style-type: none;
    }

    ul li{
        width: 95px;

    }
    .logo{
        color: var(--main-white, #F5F5F5);
        font-family: Gropled, sans-serif;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%; /* 32px */
        margin-left: 111px;
        margin-top: auto;
        margin-bottom: auto;
    }
    a{
        text-decoration: none;
        color: white;
    }
    .navbar a, .about-us-link a{
        color: var(--main-light-grey, #585858);
        text-decoration: none;
    }
    .navbar a:hover, .about-us-link a:hover{
        cursor: pointer;
        color: var(--main-grey, #232323);
        transition: 0.5s;
    }


    .main a {
        background-color: var(--main-grey, #232323); /* Фон для 'главная' */
        color: white; /* Цвет текста для 'главная' */
        border-radius: 80px; /* Скругление углов для 'главная' */
        padding: 10px 15px; /* Внутренние отступы для создания обводки */
        display: flex; /* Использование flexbox для центрирования текста */
        align-items: center; /* Центрирование текста по вертикали */
        justify-content: center; /* Центрирование текста по горизонтали */
        width: auto; /* Автоматическая ширина в зависимости от контента и padding */
    }

    /* Стили для остальных пунктов меню */
    .navbar a {
        font-family: "TT Fors", sans-serif;
        color: var(--main-light-grey, #585858);
        display: block;
        text-align: center;
        padding: 10px 15px; /* Одинаковые отступы для всех пунктов */
        border-radius: 80px; /* Скругление углов для всех пунктов */
    }

    /* Стили при наведении для всех пунктов меню */
    .navbar a:hover {
        color: var(--main-grey, #232323);
        background-color: white; /* Фон при наведении */
        text-decoration: none;
    }
    .navbar .active a {

        background-color: white; /* Фон для активного пункта меню */
        color: var(--main-grey, #232323); /* Цвет текста для активного пункта */

    }
    .active{
        font-weight: 700;
        background-color: white; /* Фон для активного пункта меню */
        color: var(--main-grey, #232323); /* Цвет текста для активного пункта */
    }





    .profile {
        margin-top: 100px;
        width: 1086px;
        height: 450px;
        margin-right: auto;
        margin-left: auto
    }

.profile-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

.profile-photo {
    width: 380px;
    height: 450px;
    left: 0;
    top: 0;
    position: absolute;
    border-radius: 20px;
    border: 2px #232323 solid;
    background-image: url("/static/profile.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.profile-name {
    left: 400px;
    top: 124px;
    position: absolute;
    color: #232323;
    font-size: 72px;
    font-family: 'Gropled', sans-serif;
    font-weight: 700;
    line-height: 57.60px;
    word-wrap: break-word;
}

.profile-description {
    width: 600px;
    left: 480px;
    top: 330px;
    position: absolute;
    color: black;
    font-size: 20px;
    font-family: 'TT Fors', sans-serif;
    font-weight: 280;
    line-height: 20px;
    word-wrap: break-word;
}

.profile-tags {
    width: 673px;
    height: 50px;
    left: 400px;
    top: 260px;
    position: absolute;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.tag {
    padding-bottom: 13.5px;
    padding-top: 13.5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 50px;
    overflow: hidden;
    border: 2px #F22D3E solid;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #F22D3E;
    font-size: 18px;
    font-family: 'TT Fors', sans-serif;
    font-weight: 600;
    line-height: 18px;
    word-wrap: break-word;
}

/* Для каждого размера тега, вы можете добавить отдельный класс или использовать inline-style для width, если размеры сильно различаются */
.tag {
    width: auto; /* Пример, если ширина тега должна быть автоматически определена */
}
.experience{
    position: relative;
    width: 1180px;
    height: 422px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
}
.experience-text{
    color: var(--main-grey, #232323);
    leading-trim: both;
    text-edge: cap;
    font-family: Gropled, sans-serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: 80%; /* 57.6px */
}
.experience-icon{
    margin-left: 245px;
    margin-top: 60px;
    position: absolute;
    width: 38.891px;
    height: 38.891px;
    flex-shrink: 0;
}
.experience-point{
    width: 859px;
    height: 40px;
    display: flex;
}
.experience-year{
    color: var(--main-violet, #232323);
    text-align: right;
    font-family: "TT Fors", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 24px */
}
.experience-text-year{
    width: 759px;
    height: auto;
    color: var(--main-grey, #232323);
    font-family: "TT Fors", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 280;
    line-height: 100%; /* 20px */
}
.experience-point:hover .experience-year{
    color: var(--main-grey, #A673D8);
    transition: 0.4s;
}
.scientific-work{
    margin-top: 200px;
    width: 1156px;
    height: 567px;
    margin-left: auto;
    margin-right: auto;
}
.scientific-work {
    /* Общие стили для блока научной работы */
}

.scientific-work-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

.scientific-content {
    width: 357px;
    height: 310px;
    position: absolute;
    left: 711px;
    top: 231px;
}

.scientific-description {
    width: 240px;
    position: absolute;
    left: 0;
    top: 102px;
    color: #232323;
    font-size: 16px;
    font-family: 'TT Fors', sans-serif;
    font-weight: 280;
    line-height: 16px;
    word-wrap: break-word;
}

.scientific-title {
    width: 357px;
    position: absolute;
    left: 0;
    top: 0;
    color: #F22D3E;
    font-size: 24px;
    font-family: 'TT Fors', sans-serif;
    font-weight: 600;
    text-decoration: underline;
    line-height: 24px;
    word-wrap: break-word;
    font-style: normal;

}

.scientific-image {
    width: 380px;
    height: 542px;
    position: absolute;
    left: 311px;
    top: 0;
    border-radius: 20px;
    background-size: cover; /* Или используйте contain, в зависимости от нужного результата */
    background-position: center; /* Центрирует изображение */
    background-repeat: no-repeat;
}

.scientific-panel {
    width: 291px;
    height: 138px;
    position: absolute;
    left: 0;
    top: 358px;
}

.panel-background {
    width: 291px;
    height: 138px;
    position: absolute;
    background: #232323;
    border-radius: 20px;
}

.panel-text {
    width: 253px;
    position: absolute;
    left: 20px;
    top: 70px;
    color: #F5F5F5;
    font-size: 16px;
    font-family: 'TT Fors', sans-serif;
    font-weight: 280;
    line-height: 16px;
    word-wrap: break-word;
}

.panel-navigation {
    width: 99px;
    height: 20px;
    position: absolute;
    left: 20px;
    top: 20px;
    /* Стили для текста и стрелки навигации */
}

.navigation-text {
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    color: #F5F5F5;
    font-size: 24px;
    font-family: 'Gropled', sans-serif;
    font-weight: 700;
    line-height: 19.20px;
    word-wrap: break-word;
}

/*.navigation-arrow {*/
/*    width: 20px;*/
/*    height: 20px;*/
/*    position: absolute;*/
/*    left: 99px;*/
/*    top: 0;*/
/*    transform: rotate(90deg);*/
/*    transform-origin: 0 0;*/
/*    background: #F5F5F5;*/
/*    !* Стили для внутренних элементов стрелки *!*/
/*}*/

/* Стили для '.navigation-arrow' внутренних элементов */

.scientific-back {
    width: 137px;
    height: 61px;
    position: absolute;
    left: 154px;
    top: 506px;
}

.back-background {
    width: 137px;
    height: 61px;
    position: absolute;
    background: #B5B5B5;
    border-radius: 20px;
}

.back-navigation {
    width: 97px;
    height: 20px;
    position: absolute;
    left: 20px;
    top: 20px;
    /* Стили для текста и стрелки назад */
}

.navigation-text-back {
    cursor: pointer;
    position: absolute;
    left: 25px;
    top: 0;
    color: #F5F5F5;
    font-size: 24px;
    font-family: 'Gropled', sans-serif;
    font-weight: 700;
    line-height: 19.20px;
    word-wrap: break-word;
}

.navigation-arrow-back {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 0;
    transform: rotate(90deg);
    transform-origin: 0 0;
    background: #F5F5F5;
    /* Стили для внутренних элементов стрелки назад */
}

/* Стили для '.navigation-arrow-back' внутренних элементов */

.scientific-header {
    width: 525px;
    position: absolute;
    left: 631px;
    top: 60px;
    color: #232323;
    font-size: 72px;
    font-family: 'Gropled', sans-serif;
    font-weight: 700;
    line-height: 57.60px;
    word-wrap: break-word;
}
.footer{
        margin-top: 175px;
        margin-left: auto;
        margin-right: auto;
        height: 200px;
        width: 73.75%;
        margin-bottom: 100px;
    }
    .footer {
        background: #F5F5F5; /* Задайте нужный фон */
        border-radius: 20px;
        border: 1px solid #232323;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        /*width: 100%; !* Растягиваем на всю ширину футера *!*/
        gap: 3vw;
    }

    .footer-section {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-heading {
        color: var(--main-grey, #232323);
        font-family: 'TT Fors',sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 100%;
        margin-bottom: 10px; /* Отступ между заголовком и списком */
    }

    .footer-list {
        display: block;
        list-style: none; /* Убираем маркеры списка */
        padding: 0; /* Убираем отступы у списка */
        margin: 0; /* Убираем внешние отступы у списка */
    }

    .footer-item {
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        font-weight: 300;
        color: #232323;
        margin-bottom: 10px; /* Отступ между элементами списка */
    }

    .footer-title.red {
        color: #F22D3E; /* Красный цвет для названия */
        font-family: 'Gropled',sans-serif;
        font-weight: 700;
    }

    /* Для медиа запросов и адаптивности */
    @media (max-width: 768px) {
        .footer-content {
            flex-direction: column;
        }

        .footer-section {
            margin-bottom: 20px; /* Отступы между секциями в мобильном виде */
        }
    }
    .footer-phone-select {
        background: #F5F5F5; /* Цвет фона выпадающего списка */
        color: #232323; /* Цвет текста */
        font-size: 16px; /* Размер шрифта */
        cursor: pointer; /* Курсор в виде руки */
        border: none;
    }

    /* Стили для элементов option */
    .footer-phone-select option {
        padding: 5px; /* Отступ для каждого элемента списка */
    }
    .fade {
        animation: fadeIn 2s;
        display: block; /* или другой тип отображения, который вы используете */
    }

    @keyframes fadeIn {
        from { opacity: 0; }
        to { opacity: 1; }
    }

    @keyframes arrow-bounce {
      0%, 100% {
        transform: translateX(0);
      }
      50% {
        transform: translateX(5px);
      }
    }
    .arrow{
        animation: arrow-bounce 2s infinite;
    }
    .reviews {
        margin-top: 200px;
        margin-left: auto;
        margin-right: auto;
        width: 1177px;
        height: 682.004px;
    }
    .title-reviews {
        color: #232323;
        leading-trim: both;
        text-edge: cap;
        font-family: Gropled, sans-serif;
        font-size: 72px;
        font-style: normal;
        font-weight: 700;
        line-height: 80%;
        width: 647px;
    }
    .reviews-back, .reviews-next{
        align-items: center;
        padding: 20px;
        gap: 5px;
        display: flex;
        width: 100px;
        height: 20px;
        border-radius: 20px;
        border: 1px #585858 solid;
        cursor: pointer;
    }
    .navigation-reviews {
        display: flex;
        gap: 10px;
    }
    .reviews-text-back {
        color:  #585858;
        font-family: Gropled, sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 80%; /* 19.2px */
    }
    .reviews-text-next{
        color: #585858;
        font-family: Gropled,sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 80%; /* 19.2px */
    }
    .reviews-card {
        margin-left: 247px;
        width: 680px;
        height: 400px;
        flex-shrink: 0;
        border-radius: 20px;
        border: 1px solid #232323;
        background: #F5F5F5;
        position: absolute;
        transition: transform 0.3s ease;
        z-index: 3;
    }
    .reviews-text {
        width: 619px;
        color: #232323;
        font-family: "TT Fors", sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 160;
        line-height: 140%; /* 28px */
        margin-left: auto;
        margin-right: auto;
    }
    .reviewer{
        margin-left: 30px;
        display: flex;
        height: 60px;
    }
    .avatar{
        width: 60px;
        height: 60px;
        background: black;
        border-radius: 50px;
    }
    .name{
        height: 25px;
        margin-top: 10px;
        margin-left: 10px;
        color:  #232323;
        font-family: Gropled, sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 140%; /* 25.2px */
    }

    .reviews-card:nth-child(2) {
        transform: rotate(-5deg); /* Rotate second card */
        z-index: 2; /* Stack below the first card */
        margin-left: 217px; /* Adjust to desired overlap */
        border: none;
        border-radius: 20px;
        background: #585858;
    }

    .reviews-card:nth-child(3) {
        transform: rotate(-10deg); /* Rotate third card */
        z-index: 1; /* Stack below the second card */
        margin-left: 187px; /* Adjust to desired overlap */
        border:none;
        border-radius: 20px;
        background: #232323;
    }

    .reviews-card:nth-child(2) .reviews-text,
    .reviews-card:nth-child(3) .reviews-text {
        color: #f5f5f5; /* Установить цвет текста белым */
    }
    .reviews-card:nth-child(2) .name,
    .reviews-card:nth-child(3) .name{
        color: #f5f5f5; /* Установить цвет текста белым */
    }
    .reviews-card:nth-child(2) .avatar,
    .reviews-card:nth-child(3) .avatar {
        background: #D9D9D9;/* Установить цвет текста белым */
    }


    .reviews-card {
      width: 680px;
      height: 400px;
      flex-shrink: 0;
      border-radius: 20px;
      position: absolute;
      transition: transform 0.3s ease;
    }

    /* Стили для карточки на переднем плане */
    .front-card {
      z-index: 3;
      background: #F5F5F5;
      color: #232323;
      transform: rotate(0deg);
      margin-left: 247px;
    }

    /* Стили для карточки посередине */
    .middle-card {
      z-index: 2;
      background: #585858;
      color: #f5f5f5;
      transform: rotate(-5deg);
      margin-left: 217px;
    }

    /* Стили для карточки на заднем плане */
    .back-card {
      z-index: 1;
      background: #232323;
      color: #f5f5f5;
      transform: rotate(-10deg);
      margin-left: 187px;
    }

    .certificates {
        flex-wrap: wrap;
        gap: 20px;
        display: flex;
        margin-top: 200px;
        width: 1180px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
    .certificates-title {
        margin-bottom: 12px;
        margin-top: 32px;
        margin-left: 43px;
        font-family: "Gropled", sans-serif;
        font-weight: 700;
        font-size: 72px;
        line-height: 80%;
        text-align: right;
        color: #232323;
    }
    .certificate{
        margin-bottom: 20px;
        transition: all 1s ease;
        cursor: pointer;
        width: 380px;
        height: 138px;
        border: #000000 solid 1px;
        border-radius: 20px;
        box-sizing: border-box;
    }
    .certificate-title{
        font-family: "Gropled", sans-serif;
        font-weight: 700;
        font-size: 24px;
        line-height: 80%;
        color: #232323;
        margin-left: 23px;
        margin-top: 20px;
    }
    .certificate svg {
        margin-top: 20px;
        margin-right: 23px;
        fill: #232323;
    }
    .certificate-text {
        font-family: "TT Fors Trial Variable", sans-serif;
        font-weight: 280;
        font-size: 16px;
        line-height: 100%;
        color: #232323;
        width: 336px;
        height: auto;
        margin-left: 23px;
        margin-top: 34px;
    }
    .certificate:hover, .certificate.active {
        color: #a673d8;
        border-color: #a673d8 ;
        height: auto;
    }

    .certificate:hover svg, .certificate.active svg {
        transition: all 0.3s ease;
        transform: rotate(180deg);
        fill: #a673d8; /* Изменяем цвет svg */
    }

    .certificate:hover .certificate-title, .certificate.active .certificate-title,
    .certificate:hover .certificate-text, .certificate.active .certificate-text {
        color: #a673d8;
        border-color: #a673d8;
    }

    .certificate-image {
        opacity: 0;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        width: 336px;
        border: #1b1b1b 1px solid;
        height: 0;
        overflow: hidden;
        transition: height 1s ease;
    }

    .certificate:hover .certificate-image, .certificate.active .certificate-image {
        opacity: 100;
        height: 402px; /* Устанавливаем желаемую высоту */
        margin-bottom: 20px;
    }
    .certificate svg {
        transition: transform 0.5s ease;
    }

    .certificate-image {
        /*transition: height 1s ease, opacity 0.5s ease;*/
    }
    .certificate-title, .certificate-text {
        transition: color 0.5s ease;
    }
    .certificate-image img {
        width: 100%; /* Занимает всю ширину контейнера */
        height: 100%; /* Занимает всю высоту контейнера */

    }

    .certificates-column {
        width: 380px;
    }

.menu__box li .badge {
    display: inline-block;
    background-color: red;
    color: white;
    text-align: center;
    border-radius: 50%;
    width: 21px;
    height: 21px;
    line-height: 21px; /* Для вертикального центрирования текста */
    font-size: 12px;
    font-weight: bold;
    position: relative;
    top: -40px; /* Поднимает кружок над элементом меню */
    left: 40px; /* Сдвигает кружок к правому краю элемента меню */
 }


.footer-mobile{
    height: 200px;
    margin-right: auto;
    margin-left: auto;
    display: none;
    margin-top: 120px;
    width: 90%;
}
.market-logo{
    display: none;
}

.wrapper-menu {
    display: none;
  width: 35px;
  height: 25px;

  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 330ms ease-out;
}

.wrapper-menu.open {
  transform: rotate(-45deg);
}

.line-menu {
  background-color: #fff;
  border-radius: 5px;
  width: 100%;
  height: 4px;
}

.line-menu.half {
  width: 50%;
}

.line-menu.start {
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: right;
}

.open .line-menu.start {
  transform: rotate(-90deg) translateX(3px);
}

.line-menu.end {
  align-self: flex-end;
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: left;
}

.open .line-menu.end {
  transform: rotate(-90deg) translateX(-3px);
}

@keyframes arrow-bounce-up {
      0%, 100% {
        transform: translateX(0);
      }
      50% {
        transform: translateY(5px);
      }
    }


.full-screen-menu {

    transition: 1s ease;
    opacity: 90%;
    position: fixed;
    top: -100%; /* Скрыть изначально */
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #232323;
    transition: top 0.3s ease-in-out;
    z-index: 1000; /* Убедитесь, что меню находится поверх других элементов */
    display: flex; /* Использование flexbox для выравнивания */
    justify-content: center; /* Центрирование содержимого по горизонтали */
    align-items: center; /* Центрирование содержимого по вертикали */
}

.header .full-screen-menu ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin-top: 50px; /* Или другое значение для отступа сверху */
}

.header .full-screen-menu ul li {
  padding: 10px 0 ;
    width: auto;
}

.header .full-screen-menu ul li a {
    text-decoration: none;
    color: white;
    font-size: 32px;
    width: auto;
}

.wrapper-menu.open + .full-screen-menu {
  top: 0; /* Показать меню */
}
.menu__box li .badge {
    display: inline-block;
    background-color: red;
    color: white;
    text-align: center;
    border-radius: 50%;
    width: 21px;
    height: 21px;
    line-height: 21px; /* Для вертикального центрирования текста */
    font-size: 12px;
    font-weight: bold;
    position: relative;
    top: -40px; /* Поднимает кружок над элементом меню */
    left: 40px; /* Сдвигает кружок к правому краю элемента меню */
 }

.badge {
    display: inline-block;
    background-color: red;
    color: white;
    text-align: center;
    border-radius: 50%;
    width: 21px;
    height: 21px;
    line-height: 21px; /* Для вертикального центрирования текста */
    font-size: 12px;
    font-weight: bold;
    position: relative;
    top: -30px; /* Поднимает кружок над элементом меню */
    left: 50px; /* Сдвигает кружок к правому краю элемента меню */
 }
    .experience hr {
        width: 880px;
    }
    .hr-block{
        width: 880px;
    }


@media (max-width: 1000px) {

        body {
            zoom: 140%;
        }

        .navbar {
            display: none;
        }

        .header {
            align-items: normal;
            height: 6.25em;
            width: 90%;
            zoom: 120%;
        }

        .logo {
            margin: 0;
            font-size: 1.5em;
            margin-left: 20px;
            margin-top: auto;
            margin-bottom: auto;
            height: 24px;
        }

        .market-logo {
            display: block;
        }

        .wrapper-menu {
            display: flex;
        }


        .footer {
            display: none;
        }

        .footer-mobile {
            height: 400px;
            display: block;
        }

        .footer-title {
            margin-top: 60px;
            margin-left: auto;
            margin-right: auto;
            font-size: 3em;
        }

        .footer-list {
            margin-right: auto;
            margin-left: auto;
            height: auto;
            width: 282px;
            font-family: "TT Fors", sans-serif;
            font-weight: 280;
            font-size: 1em;
            line-height: 100%;
            color: #585858;
        }

        .footer-list li{
            font-size: 2em;
        }

        .footer-phone-select {
            font-size: 1em;
            font-family: "TT Fors", sans-serif;
            font-weight: 280;
            line-height: 100%;
            color: #585858;
        }

        .footer-item {
            width: auto;
            font-family: "TT Fors", sans-serif;
            font-weight: 280;
            line-height: 100%;
            color: #585858;
        }



        .profile {
            width: 90%;
            height: 1100px;
        }
        .profile-photo, .profile-name, .profile-tags, .profile-description{
            position: unset;
        }
        .profile-photo {
            margin-right: auto;
            margin-left: auto;
            width: 100%;
            height: 650px;
        }
        .profile-description {
            width: 100%;
            font-size: 24px;
        }
        .profile-tags {
            width: 100%;
            height: auto;
            flex-wrap: wrap;
        }
        .tag {
            font-size: 24px;
        }
        .profile-name, .profile-tags, .profile-photo{
            margin-bottom: 10px;
        }


        .experience{
            width: 90%;
            height: 470px;
        }
        .experience hr{
            width: 100%;
        }


        .hr-block{
            width: 100%;
            margin-top: 20px;
        }
        .experience-point {
            height: 70px;
            width: 100%;
            font-size: 24px;
        }
        .experience-text-year {
            font-size: 24px;
        }
        .scientific-work{
            width: 90%;
            height: 1000px;
        }
        .scientific-header{
            left: 0;
            top: 0;
        }
        .scientific-image{

            margin-top: 130px;
            position: unset;
        }
        .scientific-content{
            width: 100%;
            z-index: 2;
            top: auto;
            bottom: 100px;
            right: auto;
            left: 0;
        }
        .scientific-description{
            font-size: 24px;
            right: auto;
            left: 0;
            width: 100%;
            line-height: 20px;

        }
        .scientific-title{
            right: 0;
            left: auto;
            font-size: 30px;
        }
        .scientific-panel{
            left: 340px;
            top: 130px;
        }
        .panel-text{
            font-size: 24px;
        }
        .panel-background {
            height: 180px;
        }
        .scientific-back{
            top: 320px;
            left: 390px;
        }

        .certificates{
            width: 90%;
        }
        .certificates-column {
            width: 100%;
        }
        .certificate-title{
            font-size: 26px;
        }
        .certificate-text{
            width: 90%;
            font-size: 24px;
        }

        .certificate {
            height: 170px;
            width:100%;
        }
        .certificates-title {
            margin-left: 0;
            text-align: left;
            mar
        }
        .certificates-title span{
            display: none;
        }
        .certificates-title:after{
            content: 'cертификаты';
        }
        .profile-name{
            margin-top: 20px;
        }

        .lightboxOverlay {
            width: 100% !important;
            height: 5210px !important;
        }
        .lb-outerContainer {
            width: 90% !important;
        }
        .lb-image{
            width: 100% !important;
            height: 800px !important;
        }
    /*    .lightboxOverlay {*/
    /*        width: 100% !important;*/
    /*        height: 100% !important;*/
    /*    }*/

    /*    .lightbox {*/
    /*        top: 0 !important;*/
    /*        left: 0 !important;*/
    /*        width: 100% !important;*/
    /*        height: 100% !important;*/
    /*        display: flex !important;*/
    /*        justify-content: center !important;*/
    /*        align-items: center !important;*/
    /*    }*/

    /*    .lb-outerContainer, .lb-dataContainer {*/
    /*        width: 95% !important; !* немного меньше, чтобы не прилипало к краям *!*/
    /*        max-width: 95% !important;*/
    /*        height: auto !important;*/
    /*        margin: 0 auto !important; !* центрирование *!*/
    /*    }*/

    /*    .lb-image {*/
    /*        width: 100% !important; !* чтобы изображение не выходило за рамки *!*/
    /*        height: auto !important;*/
    /*        max-height: 70vh; !* ограничиваем высоту, чтобы не выходило за рамки экрана *!*/
    /*    }*/

    /*    .lb-data {*/
    /*        width: 95% !important; !* согласовано с .lb-outerContainer и .lb-dataContainer *!*/
    /*    }*/

    /*    .lb-caption, .lb-number {*/
    /*        white-space: normal !important; !* чтобы текст переносился *!*/
    /*}*/








        .reviews{
            display: none;
        }


    }




</style>
<title>О нас</title>
<link href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox-plus-jquery.min.js"></script>


<div class="header" style="display: flex; justify-content: space-between;">
    <div class="logo">
        <a href="{% url 'login' %}"><img src="">clinic slimness</a>
    </div>
    <div class="navbar">
        <ul class="menu__box">
            <li><a href="{% url 'login' %}">главная</a></li>
            <li><a href="{% url 'market' %}">аптека</a></li>
            <li><a class="active" href="{% url 'about' %}">о нас</a></li>
            <li><a href="{% url 'cart' %}" style="height: 25px">корзина<span class="badge" style="display: none;">0</span></a></li>
        </ul>
    </div>
    <div style="display: flex; gap: 25px; margin-right: 20px; align-items: center;">
        <a href="{% url 'cart' %}">
            <div class="market-logo">
               <span class="badge" style="display: none;">0</span>
                <svg width="35" height="35" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M16 16C16.5304 16 17.0391 16.2107 17.4142 16.5858C17.7893 16.9609 18 17.4696 18 18C18 18.5304 17.7893 19.0391 17.4142 19.4142C17.0391 19.7893 16.5304 20 16 20C15.4696 20 14.9609 19.7893 14.5858 19.4142C14.2107 19.0391 14 18.5304 14 18C14 16.89 14.89 16 16 16ZM0 0H3.27L4.21 2H19C19.2652 2 19.5196 2.10536 19.7071 2.29289C19.8946 2.48043 20 2.73478 20 3C20 3.17 19.95 3.34 19.88 3.5L16.3 9.97C15.96 10.58 15.3 11 14.55 11H7.1L6.2 12.63L6.17 12.75C6.17 12.8163 6.19634 12.8799 6.24322 12.9268C6.29011 12.9737 6.3537 13 6.42 13H18V15H6C5.46957 15 4.96086 14.7893 4.58579 14.4142C4.21071 14.0391 4 13.5304 4 13C4 12.65 4.09 12.32 4.24 12.04L5.6 9.59L2 2H0V0ZM6 16C6.53043 16 7.03914 16.2107 7.41421 16.5858C7.78929 16.9609 8 17.4696 8 18C8 18.5304 7.78929 19.0391 7.41421 19.4142C7.03914 19.7893 6.53043 20 6 20C5.46957 20 4.96086 19.7893 4.58579 19.4142C4.21071 19.0391 4 18.5304 4 18C4 16.89 4.89 16 6 16ZM15 9L17.78 4H5.14L7.5 9H15Z" fill="#F5F5F5" />
                </svg>
            </div>
        </a>
        <div class="wrapper-menu">
          <div class="line-menu half start"></div>
          <div class="line-menu"></div>
          <div class="line-menu half end"></div>
        </div>
    </div>
    <div class="full-screen-menu" data-aos="fade-down-left" data-aos-duration="800" data-aos-once="true">
        <ul class="menu__box" style="display: block; width: 20%">
            <li><a href="{% url 'login' %}">главная</a></li>
            <li><a href="{% url 'market' %}">аптека</a></li>
            <li><a href="{% url 'about' %}">о нас</a></li>
            <li><a href="{% url 'cart' %}">корзина</a></li>
        </ul>
    </div>

</div>

<div class="profile" >
    <div class="profile-wrapper">
        <div class="profile-photo"></div>
        <div class="profile-name">Исламбеков<br/>Рашид Раджабович</div>
        <div class="profile-tags">
            <div class="tag">эндокринолог</div>
            <div class="tag">врач общей практики</div>
            <div class="tag">андролог</div>

        </div>
        <div class="profile-description">Основатель Clinic Slimness. Врач-эндокринолог, кандидат медицинских наук. Член-корреспондент академии медико-технических наук Российской Федерации. Автор множества научных работ на темы сахарного диабета и его поздних осложнений, диабетической полинейропатии, коррекции метаболических нарушений, лечения ожирения.</div>

    </div>
</div>



<div class="experience">
    <div style="display: flex; width: 470px;height: 106px">
        <div class="experience-text">образование и опыт</div>
        <div class="experience-icon">
           <svg xmlns="http://www.w3.org/2000/svg" width="55" height="55" viewBox="0 0 55 55" fill="none">
              <path d="M13.75 13.75C21.3529 6.14704 33.647 6.14704 41.25 13.75C48.8529 21.3529 48.8529 33.6471 41.25 41.25C33.647 48.853 21.3529 48.853 13.75 41.25C6.14703 33.6471 6.14703 21.3529 13.75 13.75ZM39.6323 39.6324C46.3456 32.9191 46.3456 22.0809 39.6323 15.3676C32.9191 8.6544 22.0809 8.6544 15.3676 15.3676C8.65438 22.0809 8.65438 32.9191 15.3676 39.6324C22.0809 46.3456 32.9191 46.3456 39.6323 39.6324Z" fill="#585858"/>
              <path d="M19.4115 32.8387H32.8379L32.8379 19.4123L35.1027 19.4123L35.1026 35.1034L19.4115 35.1034V32.8387Z" fill="#585858"/>
              <path d="M34.7793 33.1619L33.1616 34.7795L19.4116 21.0295L21.0293 19.4119L34.7793 33.1619Z" fill="#585858"/>
           </svg>
        </div>
    </div>
    <div class="hr-block" style="margin-right:0px; margin-left:auto; height: auto">
        <hr style="margin-top: 0px; border-color: #B5B5B5; margin-bottom: 30px;height:1px;border:none;color:#B5B5B5;background-color:#B5B5B5;">
        <div class="experience-point" style="gap: 47px; align-items: center">
            <div class="experience-year">
                1983
            </div>
            <div class="experience-text-year">Лечебный факультет Московского медико-стоматологического института им. Евдокимова, специальность “Лечебное дело”</div>
        </div>
        <hr style=" border-color: #B5B5B5; margin-bottom: 30px; margin-top:30px;height:1px;border:none;color:#B5B5B5;background-color:#B5B5B5;">
        <div class="experience-point" style="gap: 47px; align-items: center">
            <div class="experience-year">
                1983<br>1985
            </div>
            <div class="experience-text-year">Интернатура по специальности “Терапия” и работа в отделении кардиологии на базе ГКБ №33 им. Остроумова</div>
        </div>
        <hr style=" border-color: #B5B5B5; margin-bottom: 30px; margin-top:30px;height:1px;border:none;color:#B5B5B5;background-color:#B5B5B5;">
        <div class="experience-point" style="gap: 41px; align-items: center">
            <div class="experience-year">
                1985<br>2009
            </div>
            <div class="experience-text-year">Кафедра Эндокринологии факультета “Усовершенствования врачей” медицинской академии им. Сеченова</div>
        </div>
        <hr style="border-color: #B5B5B5; margin-bottom: 30px; margin-top:30px;height:1px;border:none;color:#B5B5B5;background-color:#B5B5B5;">

    </div>

</div>
{% for item in scientific %}
<div class="scientific-work card-entrance" id="scientific-work-{{ forloop.counter }}" {% if forloop.counter != 1 %}style="display:none;"{% endif %}>
    <div class="scientific-work-wrapper">
        <div class="scientific-content">
            <div class="scientific-description">{{ item.scientific_text }}</div>
            <div class="scientific-title">{{ item.name }}</div>
        </div>
        <a href="{{ item.doc_photo.url }}" data-lightbox="scientific-gallery" data-title="{{ item.name }}">
            <img class="scientific-image" src="{{ item.doc_photo.url }}" id="scientific-img-{{ forloop.counter }}" alt="{{ item.name }}">
        </a>

        <div class="scientific-panel">
            <div class="panel-background"></div>
            <div class="panel-text">{{ item.button_text }}</div>
            <div class="panel-navigation">
                <div class="navigation-text">далее</div>
                <svg class="arrow" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none" style="margin-left: 80px;}">
                  <path d="M0 10C0 4.47059 4.47059 0 10 0C15.5294 0 20 4.47059 20 10C20 15.5294 15.5294 20 10 20C4.47059 20 0 15.5294 0 10ZM18.8235 10C18.8235 5.11765 14.8824 1.17647 10 1.17647C5.11765 1.17647 1.17647 5.11765 1.17647 10C1.17647 14.8824 5.11765 18.8235 10 18.8235C14.8824 18.8235 18.8235 14.8824 18.8235 10Z" fill="#F5F5F5"/>
                  <path d="M9.00037 14.8825L13.8827 10.0002L9.00037 5.11784L9.8239 4.29431L15.5298 10.0002L9.8239 15.7061L9.00037 14.8825Z" fill="#F5F5F5"/>
                  <path d="M14.7061 9.4118V10.5883H4.70605V9.4118H14.7061Z" fill="#F5F5F5"/>
                </svg>
            </div>
        </div>
        <div class="scientific-back">
            <div class="back-background">
                <div class="back-navigation">
                    <div class="navigation-text-back">назад</div>
                    <svg class="arrow" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                      <path d="M20 10C20 4.47059 15.5294 0 10 0C4.47059 0 0 4.47059 0 10C0 15.5294 4.47059 20 10 20C15.5294 20 20 15.5294 20 10ZM1.17647 10C1.17647 5.11765 5.11765 1.17647 10 1.17647C14.8824 1.17647 18.8235 5.11765 18.8235 10C18.8235 14.8824 14.8824 18.8235 10 18.8235C5.11765 18.8235 1.17647 14.8824 1.17647 10Z" fill="#F5F5F5"/>
                      <path d="M10.9996 14.8825L6.11727 10.0002L10.9996 5.11784L10.1761 4.29431L4.47021 10.0002L10.1761 15.7061L10.9996 14.8825Z" fill="#F5F5F5"/>
                      <path d="M5.29395 9.4118V10.5883H15.2939V9.4118H5.29395Z" fill="#F5F5F5"/>
                    </svg>
                </div>
            </div>

        </div>
        <div class="scientific-header">научная деятельность</div>
    </div>
</div>
{% endfor %}


<div class="reviews">
    <div style="display: flex; justify-content: space-between">
        <div class="title-reviews">отзывы клиентов о работе<br> по снижению веса</div>
        <div class="navigation-reviews">
            <div class="reviews-back">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                  <path d="M20 10C20 4.47059 15.5294 0 10 0C4.47059 0 0 4.47059 0 10C0 15.5294 4.47059 20 10 20C15.5294 20 20 15.5294 20 10ZM1.17647 10C1.17647 5.11765 5.11765 1.17647 10 1.17647C14.8824 1.17647 18.8235 5.11765 18.8235 10C18.8235 14.8824 14.8824 18.8235 10 18.8235C5.11765 18.8235 1.17647 14.8824 1.17647 10Z" fill="#585858"/>
                  <path d="M10.9996 14.8825L6.11727 10.0002L10.9996 5.11784L10.1761 4.29431L4.47021 10.0002L10.1761 15.7061L10.9996 14.8825Z" fill="#585858"/>
                  <path d="M5.29395 9.4118V10.5883H15.2939V9.4118H5.29395Z" fill="#585858"/>
                </svg>
                <div class="reviews-text-back">назад</div>
            </div>
            <div class="reviews-next">
                <div class="reviews-text-next">далее</div>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                  <path d="M0 10C0 4.47059 4.47059 0 10 0C15.5294 0 20 4.47059 20 10C20 15.5294 15.5294 20 10 20C4.47059 20 0 15.5294 0 10ZM18.8235 10C18.8235 5.11765 14.8824 1.17647 10 1.17647C5.11765 1.17647 1.17647 5.11765 1.17647 10C1.17647 14.8824 5.11765 18.8235 10 18.8235C14.8824 18.8235 18.8235 14.8824 18.8235 10Z" fill="#585858"/>
                  <path d="M9.00037 14.8825L13.8827 10.0002L9.00037 5.11784L9.8239 4.29431L15.5298 10.0002L9.8239 15.7061L9.00037 14.8825Z" fill="#585858"/>
                  <path d="M14.7061 9.4118V10.5883H4.70605V9.4118H14.7061Z" fill="#585858"/>
                </svg>
            </div>
        </div>
    </div>
    <div class="reviews-container">
        <div class="reviews-card">
            <svg style="margin: 30px" xmlns="http://www.w3.org/2000/svg" width="25" height="18" viewBox="0 0 25 18" fill="none">
              <path d="M0 17.2159L5.568 -0.00012207H11.904L8.192 17.2159H0ZM12.928 17.2159L18.496 -0.00012207H24.832L21.12 17.2159H12.928Z" fill="#F22D3E"/>
            </svg>
            <div class="reviews-text">1Lorem ipsum dolor sit amet consectetur. Nunc feugiat lacus eu id. Elit euismod dui tempus pulvinar accumsan. Pulvinar maecenas amet egestas interdum consequat tincidunt libero duis. Enim ut sagittis augue vitae parturient non viverra. Pharetra phasellus cursus purus vestibulum a nibh. Volutpat aliquam mollis nisl non neque aliquam pellentesque ultrices. </div>
            <svg style="margin: 30px; margin-left: 625px" xmlns="http://www.w3.org/2000/svg" width="25" height="18" viewBox="0 0 25 18" fill="none">
              <path d="M0 17.2159L5.568 -0.00012207H11.904L8.192 17.2159H0ZM12.928 17.2159L18.496 -0.00012207H24.832L21.12 17.2159H12.928Z" fill="#F22D3E"/>
            </svg>
            <div class="reviewer">
                <div class="avatar"></div>
                <div class="name">1Lorem ipsum</div>
            </div>
        </div>
        <div class="reviews-card">
            <svg style="margin: 30px" xmlns="http://www.w3.org/2000/svg" width="25" height="18" viewBox="0 0 25 18" fill="none">
              <path d="M0 17.2159L5.568 -0.00012207H11.904L8.192 17.2159H0ZM12.928 17.2159L18.496 -0.00012207H24.832L21.12 17.2159H12.928Z" fill="#F22D3E"/>
            </svg>
            <div class="reviews-text">2Lorem ipsum dolor sit amet consectetur. Nunc feugiat lacus eu id. Elit euismod dui tempus pulvinar accumsan. Pulvinar maecenas amet egestas interdum consequat tincidunt libero duis. Enim ut sagittis augue vitae parturient non viverra. Pharetra phasellus cursus purus vestibulum a nibh. Volutpat aliquam mollis nisl non neque aliquam pellentesque ultrices. </div>
            <svg style="margin: 30px; margin-left: 625px" xmlns="http://www.w3.org/2000/svg" width="25" height="18" viewBox="0 0 25 18" fill="none">
              <path d="M0 17.2159L5.568 -0.00012207H11.904L8.192 17.2159H0ZM12.928 17.2159L18.496 -0.00012207H24.832L21.12 17.2159H12.928Z" fill="#F22D3E"/>
            </svg>
            <div class="reviewer">
                <div class="avatar"></div>
                <div class="name">2Lorem ipsum</div>
            </div>
        </div>
        <div class="reviews-card">
            <svg style="margin: 30px" xmlns="http://www.w3.org/2000/svg" width="25" height="18" viewBox="0 0 25 18" fill="none">
              <path d="M0 17.2159L5.568 -0.00012207H11.904L8.192 17.2159H0ZM12.928 17.2159L18.496 -0.00012207H24.832L21.12 17.2159H12.928Z" fill="#F22D3E"/>
            </svg>
            <div class="reviews-text">3Lorem ipsum dolor sit amet consectetur. Nunc feugiat lacus eu id. Elit euismod dui tempus pulvinar accumsan. Pulvinar maecenas amet egestas interdum consequat tincidunt libero duis. Enim ut sagittis augue vitae parturient non viverra. Pharetra phasellus cursus purus vestibulum a nibh. Volutpat aliquam mollis nisl non neque aliquam pellentesque ultrices. </div>
            <svg style="margin: 30px; margin-left: 625px" xmlns="http://www.w3.org/2000/svg" width="25" height="18" viewBox="0 0 25 18" fill="none">
              <path d="M0 17.2159L5.568 -0.00012207H11.904L8.192 17.2159H0ZM12.928 17.2159L18.496 -0.00012207H24.832L21.12 17.2159H12.928Z" fill="#F22D3E"/>
            </svg>
            <div class="reviewer">
                <div class="avatar"></div>
                <div class="name">3Lorem ipsum</div>
            </div>
        </div>
    </div>
</div>


<div class="certificates">
    <div class="certificates-column">
         <div class="certificates-title">
            <span>Сертифи-<br>каты</span>
        </div>
        {% for certificate in first_col_certs %}
        <div class="certificate">
            <div style="display: flex; justify-content: space-between">
                <div class="certificate-title">{{ certificate.title }}</div>
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10 0C15.5294 0 20 4.47059 20 10C20 15.5294 15.5294 20 10 20C4.47059 20 0 15.5294 0 10C0 4.47059 4.47059 0 10 0ZM10 18.8235C14.8824 18.8235 18.8235 14.8824 18.8235 10C18.8235 5.11765 14.8824 1.17647 10 1.17647C5.11765 1.17647 1.17647 5.11765 1.17647 10C1.17647 14.8824 5.11765 18.8235 10 18.8235Z" />
                  <path d="M5.11733 9.00013L9.99969 13.8825L14.882 9.00013L15.7056 9.82366L9.99969 15.5295L4.2938 9.82366L5.11733 9.00013Z" />
                  <path d="M10.5884 14.7061H9.41191L9.41191 4.70605H10.5884L10.5884 14.7061Z" />
                </svg>
            </div>
            <div class="certificate-text">
                {{ certificate.short_text }}
            </div>
            <div class="certificate-image">
                <img src="{{ certificate.certificate_photo.url }}" alt="{{ certificate.title }}">
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="certificates-column">
        {% for certificate in second_col_certs %}
        <div class="certificate">
            <div style="display: flex; justify-content: space-between">
                <div class="certificate-title">{{ certificate.title }}</div>
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10 0C15.5294 0 20 4.47059 20 10C20 15.5294 15.5294 20 10 20C4.47059 20 0 15.5294 0 10C0 4.47059 4.47059 0 10 0ZM10 18.8235C14.8824 18.8235 18.8235 14.8824 18.8235 10C18.8235 5.11765 14.8824 1.17647 10 1.17647C5.11765 1.17647 1.17647 5.11765 1.17647 10C1.17647 14.8824 5.11765 18.8235 10 18.8235Z" />
                  <path d="M5.11733 9.00013L9.99969 13.8825L14.882 9.00013L15.7056 9.82366L9.99969 15.5295L4.2938 9.82366L5.11733 9.00013Z" />
                  <path d="M10.5884 14.7061H9.41191L9.41191 4.70605H10.5884L10.5884 14.7061Z" />
                </svg>
            </div>
            <div class="certificate-text">
                {{ certificate.short_text }}
            </div>
            <div class="certificate-image">
                <img src="{{ certificate.certificate_photo.url }}" alt="{{ certificate.title }}">
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="certificates-column">
        {% for certificate in third_col_certs %}
        <div class="certificate">
            <div style="display: flex; justify-content: space-between">
                <div class="certificate-title">{{ certificate.title }}</div>
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10 0C15.5294 0 20 4.47059 20 10C20 15.5294 15.5294 20 10 20C4.47059 20 0 15.5294 0 10C0 4.47059 4.47059 0 10 0ZM10 18.8235C14.8824 18.8235 18.8235 14.8824 18.8235 10C18.8235 5.11765 14.8824 1.17647 10 1.17647C5.11765 1.17647 1.17647 5.11765 1.17647 10C1.17647 14.8824 5.11765 18.8235 10 18.8235Z" />
                  <path d="M5.11733 9.00013L9.99969 13.8825L14.882 9.00013L15.7056 9.82366L9.99969 15.5295L4.2938 9.82366L5.11733 9.00013Z" />
                  <path d="M10.5884 14.7061H9.41191L9.41191 4.70605H10.5884L10.5884 14.7061Z" />
                </svg>
            </div>
            <div class="certificate-text">
                {{ certificate.short_text }}
            </div>
            <div class="certificate-image">
                <img src="{{ certificate.certificate_photo.url }}" alt="{{ certificate.title }}">
            </div>
        </div>
        {% endfor %}
    </div>



</div>


<div class="footer">
    <div class="footer-content">
        <div class="footer-section">
            <h2 class="footer-title red">clinic slimness</h2>
        </div>
        <div style="width: 0px;height: 122px; border: 1px #232323 solid"></div>
        <div class="footer-section">
            <h3 class="footer-heading">наши услуги</h3>
            <ul class="footer-list">
                <li class="footer-item">услуга 1</li>
                <li class="footer-item">услуга 2</li>
                <li class="footer-item">услуга 3</li>
            </ul>
        </div>
        <div style="width: 0px; height: 122px; border: 1px #232323 solid"></div>
        <div class="footer-section">
            <h3 class="footer-heading">компания</h3>
            <ul class="footer-list">
                <li class="footer-item">о нас</li>
                <li class="footer-item">аптека</li>
                <li class="footer-item">контакты</li>
            </ul>
        </div>
        <div style="width: 0px;height: 122px; border: 1px #232323 solid"></div>
        <div class="footer-section">
            <h3 class="footer-heading">контакты</h3>
            <ul class="footer-list">
                <li class="footer-item">
                    <!-- Выпадающий список телефонных номеров -->
                    <select class="footer-phone-select" onchange="location = this.value;">
                        <option value="tel:+74956080101">+7 495 608-01-01</option>
                        <option value="tel:+74956077950">+7 495 607-79-50</option>
                        <option value="tel:+74956073701">+7 495 607-37-01</option>
                        <option value="tel:+74955438384">+7 495 543-83-84</option>
                    </select>
                </li>
                <li class="footer-item"><a href="mailto:info@medicsel.ru" style="color:#232323;">info@medicsel.ru</a></li>
                <li class="footer-item" style="width: auto">г. Москва, пер. Малый Козловский, д. 6</li>
            </ul>
        </div>
    </div>
</div>


<div class="footer-mobile">
    <a href="#main-sector">
        <svg style="display: block; margin-left: auto; animation: arrow-bounce-up 1s infinite; cursor: pointer;" width="40" height="40" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M10 20C4.47059 20 0 15.5294 0 10C0 4.47059 4.47059 0 10 0C15.5294 0 20 4.47059 20 10C20 15.5294 15.5294 20 10 20ZM10 1.17647C5.11765 1.17647 1.17647 5.11765 1.17647 10C1.17647 14.8824 5.11765 18.8235 10 18.8235C14.8824 18.8235 18.8235 14.8824 18.8235 10C18.8235 5.11765 14.8824 1.17647 10 1.17647Z" fill="#585858" />
      <path d="M14.8824 10.9996L10.0001 6.11727L5.11772 10.9996L4.29419 10.1761L10.0001 4.47021L15.706 10.1761L14.8824 10.9996Z" fill="#585858" />
      <path d="M9.41168 5.29395H10.5882V15.2939H9.41168V5.29395Z" fill="#585858" />
    </svg>
    </a>

    <hr>
    <div class="footer-section">
        <h2 class="footer-title red">clinic slimness</h2>
    </div>
    <ul class="footer-list">
        <li class="footer-item">
            <!-- Выпадающий список телефонных номеров -->
            <select class="footer-phone-select" onchange="location = this.value;">
                <option value="tel:+74956080101">+7 495 608-01-01</option>
                <option value="tel:+74956077950">+7 495 607-79-50</option>
                <option value="tel:+74956073701">+7 495 607-37-01</option>
                <option value="tel:+74955438384">+7 495 543-83-84</option>
            </select>
        </li>
        <li class="footer-item"><a href="mailto:info@medicsel.ru" style="color: #585858;">info@medicsel.ru</a></li>

    </ul>
</div>



<!-- Подключаем jQuery для удобства -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
  AOS.init();
</script>

<script>
var wrapperMenu = document.querySelector('.wrapper-menu');
var fullScreenMenu = document.querySelector('.full-screen-menu');
var header = document.querySelector('.header'); // Получаем элемент header
var body = document.body;

wrapperMenu.addEventListener('click', function() {
  wrapperMenu.classList.toggle('open');
  if (wrapperMenu.classList.contains('open')) {
        wrapperMenu.style.height = '33px';
        fullScreenMenu.style.opacity='90%'
        fullScreenMenu.style.top = '112px'; // Показать меню
        body.style.overflow = 'hidden'; // Отключить прокрутку
        header.style.width = '100%'; // Устанавливаем ширину header на 100%
        header.style.borderRadius = '0'; // Устанавливаем border-radius header на 0
        header.style.top="0";
        header.style.marginTop="0";
  } else {
        wrapperMenu.style.height  = '25px';
        fullScreenMenu.style.top = '-100%'; // Скрыть меню
        body.style.overflow = ''; // Включить прокрутку обратно
        header.style.width = '90%'; // Вернуть начальную ширину
        header.style.borderRadius = '20px'; // Вернуть начальный border-radius
        fullScreenMenu.style.opacity='0%'
        header.style.top="10";
        header.style.marginTop="10px";
  }
});
</script>

<script>
document.querySelectorAll('.certificate').forEach((element) => {
    element.addEventListener('click', function() {
        document.querySelectorAll('.certificate').forEach((el) => {
            if (el !== this) {
                el.classList.remove('active'); // Удаляем класс active у всех кроме текущего
            }
        });
        this.classList.toggle('active'); // Добавляем класс active к текущему элементу, если его нет, иначе удаляем
    });
});
</script>

<script>
// Этот код можно разместить в общем файле скриптов или в базовом шаблоне
document.addEventListener('DOMContentLoaded', function() {
    updateProductCount();
});

// Функция getCartCount() должна быть адаптирована под ваш способ хранения информации о корзине
// Здесь просто примерная реализация
function getCartCount() {
    // Это предполагает, что у вас есть ключи в localStorage типа "product_1", "product_2" и т.д.
    return Object.keys(localStorage)
                 .filter(key => key.startsWith('product_'))
                 .length;
}

function updateProductCount() {
    const count = getCartCount();
    const badgeElements = document.querySelectorAll('.badge');

    badgeElements.forEach(badge => {
        badge.textContent = count;
        badge.style.display = count > 0 ? 'inline-block' : 'none';
    });
}

// Обновите остальные функции в соответствии с вашей логикой корзины
</script>
<script>
$(document).ready(function(){
    // Начальная настройка: первая карточка активна, вторая - следующая, третья - последняя
    var cards = $(".reviews-card");
    var cardStyles = [
        { // Стили для передней (белой) карточки
            zIndex: 3,
            transform: 'rotate(0deg)',
            background: '#F5F5F5',
            color: '#232323',
            marginLeft: '247px',
            border: '1px solid #232323',
            nameColor: '#232323',
            avatarBackground: 'black'
        },
        { // Стили для средней (серой) карточки
            zIndex: 2,
            transform: 'rotate(-5deg)',
            background: '#585858',
            color: '#f5f5f5',
            marginLeft: '217px',
            border: '1px solid #585858',
            nameColor: '#f5f5f5',
            avatarBackground: '#D9D9D9'
        },
        { // Стили для задней (чёрной) карточки
            zIndex: 1,
            transform: 'rotate(-10deg)',
            background: '#232323',
            color: '#f5f5f5',
            marginLeft: '187px',
            border: '1px solid #232323',
            nameColor: '#f5f5f5',
            avatarBackground: '#D9D9D9'
        }
    ];

    function applyStyles(){
        cards.each(function(index){
            var card = $(this);
            var style = cardStyles[index];

            card.css({
                'z-index': style.zIndex,
                'transform': style.transform,
                'background': style.background,
                'color': style.color,
                'margin-left': style.marginLeft,
                'border': style.border
            });

            card.find(".name").css('color', style.nameColor);
            card.find(".avatar").css('background', style.avatarBackground);
            card.find(".reviews-text").css('color', style.color);
        });
    }

    // Применяем начальные стили
    applyStyles();

    // Функция для переключения карточек вперед
    function rotateForward(){
        cardStyles.unshift(cardStyles.pop()); // Перемещаем последний элемент в начало массива
        applyStyles();
    }

    // Функция для переключения карточек назад
    function rotateBackward(){
        cardStyles.push(cardStyles.shift()); // Перемещаем первый элемент в конец массива
        applyStyles();
    }

    // Обработчик клика для кнопки "далее"
    $(".reviews-next").click(function(){
        rotateForward();
    });

    // Обработчик клика для кнопки "назад"
    $(".reviews-back").click(function(){
        rotateBackward();
    });
});
</script>

<script>
    let currentIndex = 1;
    const totalItems = {{ scientific|length|safe }};

    function showItem(index) {
        const elementsToAnimate = ['scientific-description', 'scientific-title', 'panel-text', 'scientific-image'];

        // Скрываем все элементы
        document.querySelectorAll('.scientific-work').forEach(function(item) {
            item.style.display = 'none';
        });

        // Показываем нужный элемент
        const currentItem = document.getElementById('scientific-work-' + index);
        currentItem.style.display = 'block';

        // Применяем анимацию к каждому элементу
        elementsToAnimate.forEach(function(className) {
            const element = currentItem.querySelector('.' + className);
            if (element) {
                element.classList.remove('fade');
                // Вызываем перерисовку для сброса анимации
                void element.offsetWidth;
                element.classList.add('fade');
            }
        });
    }

    function nextItem() {
        currentIndex = currentIndex >= totalItems ? 1 : currentIndex + 1;
        showItem(currentIndex);
    }

    function prevItem() {
        currentIndex = currentIndex <= 1 ? totalItems : currentIndex - 1;
        showItem(currentIndex);
    }

    document.querySelectorAll('.scientific-panel').forEach(function(button) {
        button.addEventListener('click', nextItem);
    });

    document.querySelectorAll('.back-background').forEach(function(button) {
        button.addEventListener('click', prevItem);
    });
</script>




{% endblock %}