{% load static %}
{% block content %}
<style>
    body{
        /*background: gray;*/
        margin: 0;
        padding: 0;
        zoom: 80%;
        background: var(--main-white, #F5F5F5)
    }
    @font-face {
        font-family: 'Gropled';
        src: url('/static/fonts/Gropled-Bold.otf') format('opentype');
        font-weight: 700;
        font-style: normal;
    }
    @font-face {
        font-family: 'TT Fors';
        src: url('/static/fonts/TT Fors Trial Variable.ttf') format('truetype');
        font-weight: 400; /* Normal */
        font-style: normal;
    }

    .header{
        margin-bottom: 10px;
        margin-top: 10px;
        margin-right: auto;
        margin-left: auto;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
        width: 73.75%;
        height: 100px;
        background: var(--main-grey, #232323);
        font-family: Fira Sans Condensed, sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        position: sticky;
        top: 10px;
        z-index: 10;
        border-radius: 20px;
    }
    .navbar{
        margin-bottom:auto;
        margin-top: auto;
        margin-left: auto;
        margin-right: 80px;
        height: 39px;
        width: auto;
        display: inline-flex;
        justify-content: flex-end;
        align-items: center;
        gap: 20px;
    }
    ul{
        gap: 20px;
        margin: 0;
        width: 100%;
        height: 100%;
        display: flex;
        list-style-type: none;
    }

    ul li{
        width: 95px;

    }
    .logo{
        color: var(--main-white, #F5F5F5);
        font-family: Gropled, sans-serif;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%; /* 32px */
        margin-left: 111px;
        margin-top: auto;
        margin-bottom: auto;
    }
    a{
        text-decoration: none;
        color: white;
    }
    .navbar a, .about-us-link a{
        color: var(--main-light-grey, #585858);
        text-decoration: none;
    }
    .navbar a:hover, .about-us-link a:hover{
        cursor: pointer;
        color: var(--main-grey, #232323);
        transition: 0.5s;
    }
    .main a {
        background-color: var(--main-grey, #232323); /* Фон для 'главная' */
        color: white; /* Цвет текста для 'главная' */
        border-radius: 80px; /* Скругление углов для 'главная' */
        padding: 10px 15px; /* Внутренние отступы для создания обводки */
        display: flex; /* Использование flexbox для центрирования текста */
        align-items: center; /* Центрирование текста по вертикали */
        justify-content: center; /* Центрирование текста по горизонтали */
        width: auto; /* Автоматическая ширина в зависимости от контента и padding */
    }

    /* Стили для остальных пунктов меню */
    .navbar a {
        font-family: "TT Fors", sans-serif;
        color: var(--main-light-grey, #585858);
        display: block;
        text-align: center;
        padding: 10px 15px; /* Одинаковые отступы для всех пунктов */
        border-radius: 80px; /* Скругление углов для всех пунктов */
    }

    /* Стили при наведении для всех пунктов меню */
    .navbar a:hover {
        color: var(--main-grey, #232323);
        background-color: white; /* Фон при наведении */
        text-decoration: none;
    }
    .navbar .active a {

        background-color: white; /* Фон для активного пункта меню */
        color: var(--main-grey, #232323); /* Цвет текста для активного пункта */

    }
    .main-page-sector{
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 20px;
        width: 73.75%;
        height: 686px;
        background-image: url("static/layoyt_main.png");
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
    }
    .main-page-text{
        color: var(--main-white, #F5F5F5);
        leading-trim: both;
        text-edge: cap;
        font-family: Gropled,sans-serif;
        font-size: 96px;
        font-style: normal;
        font-weight: 700;
        line-height: 80%;
        margin-left: 79px;
        padding-top: 80px;
        width: 397px;
        height: 141px;
    }
    .second-page-text{
        width: 320px;
        color: #000;
        text-align: right;
        /* main text */
        font-family: TT Fors,sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 280;
        line-height: 100%; /* 20px */
        margin-left: auto;
        margin-right: 80px;
        margin-top: 285px;
    }
    .slider-page-block{
        margin-top: 200px;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        width: 1180px;
        height: 527px;
    }
    .slider-page-block .block-container {
        width: 100%;
        height: 100%;
        position: relative;
    }

    .slider-page-block .text-box {
        position: absolute;
        word-wrap: break-word;
        font-family: 'TT Fors', sans-serif;
        line-height: 18px;
    }

    .slider-page-block .text-box-1 {
        width: 340px;
        right: 0;
        top: 96px;
        color: #000;
        font-family: TT Fors,sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 280;
        line-height: 100%;
    }

    .slider-page-block .text-box-2 {
        width: 344px;
        left: 0;
        top: 253px;
        color: var(--main-grey, #232323);
        text-align: right;
        leading-trim: both;
        text-edge: cap;
        font-family: Gropled,sans-serif;
        font-size: 34px;
        font-style: normal;
        font-weight: 700;
        line-height: 80%; /* 27.2px */
    }

    .slider-page-block .card-container {
        width: 650px;
        height: 527px;
        left: 22.45%;
        top: 0;
        position: absolute;
    }

    .slider-page-block .card {
        position: absolute;
        border-radius: 20px;
    }

    .slider-page-block .card-red {
        width: 268px;
        height: 201px;
        left: 382px;
        top: 326px;
        background: #F22D3E;
    }

    .slider-page-block .card-purple {
        width: 268px;
        height: 201px;
        left: 0;
        top: 0;
        background: #A673D8;
    }

    .slider-page-block .number-box {
        padding: 11px 20px;
        border-radius: 20px;
        overflow: hidden;
        border: 1px #F5F5F5 solid;
        justify-content: center;
        align-items: center;
        display: inline-flex;
        position: absolute;
        color: #F5F5F5;
        font-size: 16px;
        font-weight: 280;
        font-family: TT Fors,sans-serif;
        font-style: normal;
        line-height: 100%;
    }

    .slider-page-block .number-1 {
        margin-left: 18.71px;
        margin-top: 19.32px;
    }

    .slider-page-block .service-card {
        width: 458.82px;
        height: 342.21px;
        left: 95.59px;
        top: 82.21px;
        position: absolute;
    }

    .slider-page-block .card-black {
        width: 458.82px;
        height: 342.21px;
        left: 95.59px;
        top: 82.21px;
        position: absolute;
        background: #232323;
        border-radius: 20px;
    }

    .slider-page-block .number-box-service {
        padding: 11px 20px;
        margin-left: 19.12px;
        margin-top: 19.12px;
        gap: 10px;
    }



    .slider-page-block .number-3 {
        margin-top: 149px;
        margin-left: 207px;
    }

    @keyframes arrow-bounce {
      0%, 100% {
        transform: translateX(0);
      }
      50% {
        transform: translateX(10px);
      }
    }

    .arrow-svg {
      animation: arrow-bounce 1s infinite;
      cursor: pointer;
      position: absolute;
      bottom: 74px;
      left: 95.59px;
    }

    .trust-block{
        width: 1180px;
        height: 375px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 200px;
        display: flex;
    }


    .slider-page-block .card {
      transition: all 0.5s ease; /* Плавный переход всех свойств за 0.5 секунд */
    }

    .card-red, .card-purple, .card-black {
      transition: all 0.5s ease;
      position: absolute;
      border-radius: 20px;
    }

    /* Значение z-index для карточек по бокам меньше, чем у центральной карточки */
    .card-red, .card-purple {
      z-index: 1;
    }

    /* У центральной карточки самое высокое значение z-index */
    .card-black {
      z-index: 2;
    }
    .trust-block-pointer:hover .trust-block-number {
        color: #A673D8; /* Цвет цифры */
        transition: all 0.5s ease;
    }

    .trust-block-pointer:hover .trust-block-title {
        background-size: 100% 2px;
        color: #A673D8;;
    }
    .trust-block-title, .trust-block-text{
        color: #232323;
    }
    .trust-block-title{
        background-image: linear-gradient(to right, #A673D8, #A673D8); /* Параметры градиента */
        background-repeat: no-repeat; /* Фон не повторяется */
        background-size: 10px 2px; /* Линия будет шириной 10px и высотой 2px */
        background-position: left bottom; /* Положение в левом нижнем углу */
        padding-bottom: 2px; /* Расстояние от текста до линии */
        text-decoration: none; /* Убираем подчёркивание */
        transition: 0.3s;
        font-size: 24px;
        font-family: TT Fors,sans-serif;
        font-weight: 600;
        line-height: 24px;
        word-wrap: break-word;
        margin-left: 16px;
    }
    .trust-block-number{
        margin-top: 4px;
        color: #585858;
        font-size: 16px;
        font-family: TT Fors,sans-serif;
        font-weight: 500;
        line-height: 16px;
        word-wrap: break-word
    }
    .consultation{
        margin-top: 200px;
        margin-left: auto;
        margin-right: auto;
        width: 1180px;
        height: 500px;
        display: flex;
        gap: 20px;
    }
    .cons-wrapper{
        width: 380px;
        height: 500px;
        background-image: url("static/consultation.png");
    }
    .cons-form{
        width: 780px;
        height: 500px;
        flex-shrink: 0;
        border-radius: 20px;
        background: var(--main-grey, #232323);
    }
    .cons-form-title{
        margin: 40px 0 0 40px;
        width: 620px;
        color: var(--main-white, #F5F5F5);
        leading-trim: both;
        text-edge: cap;
        font-family: Gropled,sans-serif;
        font-size: 52px;
        font-style: normal;
        font-weight: 700;
        line-height: 80%; /* 41.6px */
    }
    .cons-form-subtitle{
        width: 638px;
        color: var(--main-white, #F5F5F5);
        font-family: TT Fors,sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 280;
        line-height: 100%; /* 20px */
        margin: 30px 0 0 40px;
    }
    .cons-input-form {
        flex-direction: column;
        gap: 15px;
        margin: 40px;
    }

    .cons-input-field,
    .cons-textarea-field {
        width: 340px;
        background: transparent;
        border: none;
        border-bottom: 1px solid #585858;
        color: #F5F5F5;
        font-family: 'TT Fors', sans-serif;
        font-size: 16px;
        padding: 10px 0;
    }

    .cons-input-field::placeholder,
    .cons-textarea-field::placeholder {
        color: #585858;
        font-style: italic;
    }

    .cons-textarea-field {
        margin-top: 50px;
        width: 700px;
        height: 39px; /* или другая высота по желанию */
        resize: none; /* Запрещаем изменение размера */
    }

    .cons-submit-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 406px;
        background: #F5F5F5;
        border-radius: 20px;
        color: #232323;
        font-size: 18px;
        font-weight: 500;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease;

    }

    .cons-submit-btn:hover {
        background-color: #A673D8; /* или другой цвет при наведении */
    }

    .cons-social-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 237px;
        border-radius: 20px;
        border: 1px solid #585858;
        color: #585858;
        text-align: center;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .cons-social-link:hover {
        background-color: #A673D8; /* или другой цвет при наведении */
        border: 1px solid #A673D8;
    }
    .cons-social-link:hover .text-button2 {
        color: var(--main-grey, #232323); /* Цвет текста при наведении */
    }
    .text-button{
        margin: 0;
        padding: 0;
        color: var(--main-grey, #232323);
        text-align: center;
        leading-trim: both;
        text-edge: cap;
        font-family: TT Fors,sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    .text-button2{
        margin: 0;
        padding: 0;
        color: var(--main-light-grey, #585858);
        text-align: center;
        leading-trim: both;
        text-edge: cap;
        font-family: TT Fors,sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 280;
        line-height: normal;
    }
    .cons-input-row {
        display: flex; /* Применяем flexbox */
        justify-content: space-between; /* Распределяем пространство между элементами */
        gap: 30px; /* Расстояние между полями ввода */
    }
    .footer{
        margin-top: 175px;
        margin-left: auto;
        margin-right: auto;
        height: 200px;
        width: 73.75%;
        margin-bottom: 100px;

    }
.footer {
    background: #F5F5F5; /* Задайте нужный фон */
    border-radius: 20px;
    border: 1px solid #232323;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*width: 100%; !* Растягиваем на всю ширину футера *!*/
    gap: 3vw;
}

.footer-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-heading {
    color: var(--main-grey, #232323);
    font-family: 'TT Fors',sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    margin-bottom: 10px; /* Отступ между заголовком и списком */
}

.footer-list {
    display: block;
    list-style: none; /* Убираем маркеры списка */
    padding: 0; /* Убираем отступы у списка */
    margin: 0; /* Убираем внешние отступы у списка */
}

.footer-item {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #232323;
    margin-bottom: 10px; /* Отступ между элементами списка */
}

.footer-title.red {
    color: #F22D3E; /* Красный цвет для названия */
    font-family: 'Gropled',sans-serif;
    font-weight: 700;
}

/* Для медиа запросов и адаптивности */
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
    }

    .footer-section {
        margin-bottom: 20px; /* Отступы между секциями в мобильном виде */
    }
}
    .footer-phone-select {
    background: #F5F5F5 /* Цвет фона выпадающего списка */;
    color: #232323; /* Цвет текста */
    font-size: 16px; /* Размер шрифта */
    cursor: pointer; /* Курсор в виде руки */
    border: none;
}

/* Стили для элементов option */
.footer-phone-select option {
    padding: 5px; /* Отступ для каждого элемента списка */
}
.card-2-text, .card-3-text, .card-1-text{
    font-size: 20px;
    font-weight: 280;
    font-family: TT Fors,sans-serif;
    font-style: normal;
    line-height: 100%;
    color: white;
    margin-top: 27px;
    margin-left: 75px;
}

.yandex-map{
    display: flex;
    margin-right: auto;
    margin-left: auto;
    width: 1178px;
    height: 490px;
    margin-top: 100px;
    position: relative;
}
.yandex-map iframe{
    border-radius: 20px;
}

.trust-block-text{
    margin-top: 20px;
    margin-left: 39px;
    font-size: 20px;
    font-family: TT Fors ,sans-serif;
    font-weight: 280;
    line-height: 20px;
    word-wrap: break-word
}
.trust-block-title1{
    color: #232323;
    font-size: 72px;
    font-family: Gropled,sans-serif;
    font-weight: 700;
    line-height: 57.60px;
    word-wrap: break-word;
    height: 48px;
    width: 550px;
}
.trust-block-title2{
    color: #232323;
    font-size: 72px;
    font-family: Gropled,sans-serif;
    font-weight: 700;
    line-height: 57.60px;
    word-wrap: break-word;
    height: 48px;
    width: 550px;
    margin-left: 80px;
    margin-top: 10px;
}
.trust-block-text1{
    color: #232323;
    font-size: 20px;
    font-family: TT Fors,sans-serif;
    font-weight: 280;
    line-height: 20px;
    word-wrap: break-word;
    width: 350px;
    height: 160px;
    margin-left: 200px;
    margin-top: 50px;
}
.trust-block-pointer{
    width: 582px;
    height: auto;
    margin-top: 50px;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 900px;
    height: 490px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, #F5F5F5 91%);
    pointer-events: none; /* Это позволит взаимодействовать с картой под наложением */
    border-radius: 20px;
}
.yandex-map-text{
    position: absolute;
    font-family: "Gropled", sans-serif;
    font-weight: 700;
    font-size: 34px;
    line-height: 80%;
    color: #232323;
    width: 410px;
    height: 104px;
    margin-left: 698px;
    margin-top: 85px;
}
.yandex-map-address{
    position: absolute;
    margin-left: 778px;
    margin-top: 219px;
    width: 400px;
    height: 40px;
    font-family: "TT Fors Trial Variable", sans-serif;
    font-weight: 280;
    font-size: 20px;
    line-height: 100%;
    color: #232323;
}




</style>
<link href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>

<div class="header" style="display: flex" >
    <div class="logo" >
        <a href="" ><img src="">clinic slimness</a>
    </div>
    <div class="navbar">
        <ul>
            <li>
                <div class="main active" style="">
                    <a href="{% url 'login' %}">главная</a>
                </div>
            </li>

            <li>
                <div class="production">
                    <a href="{% url 'market' %}">аптека</a>
                </div>
            </li>
            <li>
                <div class="about-us">
                    <a href="{% url 'about' %}">о нас</a>
                </div>
            </li>
            <li>
                <div class="cart">
                    <a href="">корзина</a>
                </div>
            </li>
        </ul>

    </div>
</div>
<div class="main-page-sector" data-aos="fade-up" data-aos-duration="400" data-aos-once="true">
    <div class="main-page-text">
        clinic slimness
    </div>
    <div class="second-page-text">
        Lorem ipsum dolor sit amet consectetur. Aliquam ac diam lobortis non ultrices. Ac aliquet mi massa proin. Faucibus luctus at ut lectus tortor fusce mattis phasellu
    </div>
</div>


<div class="slider-page-block" data-aos="fade-up" data-aos-duration="400" data-aos-once="true">
    <div class="block-container">
        <div class="text-box text-box-1">Lorem ipsum dolor sit amet consectetur. Elit et magna viverra adipiscing imperdiet est donec in. Quis neque sit arcu euismod faucibus cras faucibus pulvinar. Lectus sit ut sociis non suspendisse nisl. Elementum nunc id sit ac integer a.Lorem ipsum dolor sit amet consectetur</div>
        <div class="text-box text-box-2">путь<br> к идеальной фигуре начинается с профессионального руководства и заботы</div>
        <div class="card-container">
            <div class="card card-red">
                <div class="number-box number-3">3</div>
            </div>
            <div class="card card-purple">
                <div class="number-box number-1">2</div>
            </div>

            <div class="card card-black">
                <div class="number-box number-box-service">Карточка услуги 1</div>

            </div>

            <svg class="arrow-svg right"  onclick="rotateCards()" xmlns="http://www.w3.org/2000/svg" width="173" height="16" viewBox="0 0 173 16" fill="none">
                <path d="M172.707 8.70711C173.098 8.31658 173.098 7.68342 172.707 7.29289L166.343 0.928932C165.953 0.538408 165.319 0.538408 164.929 0.928932C164.538 1.31946 164.538 1.95262 164.929 2.34315L170.586 8L164.929 13.6569C164.538 14.0474 164.538 14.6805 164.929 15.0711C165.319 15.4616 165.953 15.4616 166.343 15.0711L172.707 8.70711ZM0 9H172V7H0V9Z" fill="black"/>
            </svg>

        </div>

    </div>
</div>




<div class="trust-block">
    <div style="display: block; width: auto;height: auto">
        <div class="trust-block-title1">Красота</div>
        <div class="trust-block-title2">по-корейски</div>
        <div class="trust-block-text1">Корейские инновации в области красоты и здоровья теперь доступны в России. Наши методики, согласующиеся с российскими стандартами, помогают достигнуть видимых улучшений уже после первых процедур. Сочетание проверенных традиций и современных технологий предлагает наилучшее решение для вашего благополучия.</div>
    </div>
    <div>
        <div class="trust-block-pointer">
            <div style="display: flex">
                <div class="trust-block-number">01)</div>
                <div class="trust-block-title">Гармония стандартов</div>
            </div>
            <div class="trust-block-text">Методики красоты, основанные на корейской медицине, гармонируют с российскими медицинскими стандартами. Наши препараты и методология обеспечивают быстрые результаты.</div>
        </div>
        <div class="trust-block-pointer">
            <div style="display: flex">
                <div class="trust-block-number">02)</div>
                <div class="trust-block-title">Индивидуальный подход</div>
            </div>
            <div class="trust-block-text">Мы предлагаем решения, приносящие долгосрочные эффекты. Наш подход индивидуален, и мы учитываем особенности каждого клиента.</div>
        </div>
        <div class="trust-block-pointer">
            <div style="display: flex">
                <div class="trust-block-number">03)</div>
                <div class="trust-block-title">Инновации и качество</div>
            </div>
            <div class="trust-block-text">Используем новейшие технологии и аппаратуру. Каждый квартал проводим корректировку методик на основе анализов.</div>
        </div>
    </div>
</div>


<div class="consultation" data-aos="fade-up" data-aos-duration="200" data-aos-once="true">
    <div class="cons-wrapper"></div>
    <div class="cons-form">
        <div class="cons-form-title">Приглашаем на стартовую консультацию с Врачем</div>
        <div class="cons-form-subtitle">Оставьте заявку нашим специалистам, и мы рассмотрим ее в ближайшее время</div>

        <!-- Форма для ввода данных -->
        <form class="cons-input-form">
            <div class="cons-input-row">
                <!-- Поле для ввода имени -->
                <input type="text" id="name" name="name" placeholder="Имя" class="cons-input-field half-width">
                <!-- Поле для ввода номера телефона -->
                <input type="text" id="phone" name="phone" placeholder="Номер телефона" class="cons-input-field half-width">
            </div>
            <!-- Поле для ввода комментария -->
            <textarea style="overflow:hidden" id="comment" name="comment" placeholder="Ваш комментарий" class="cons-textarea-field"></textarea>
            <div class="cons-input-row" style="display: flex; height: 40px; margin-top: 30px">
               <!-- Кнопка отправки формы -->
                <button type="submit" class="cons-submit-btn"><div class="text-button">заказать бесплатный обратный звонок</div></button>
                <!-- Ссылка для соцсетей -->
                <div class="cons-social-link"><div class="text-button2">связаться в соцсетях</div></div>
            </div>

        </form>
    </div>
</div>

<div class="yandex-map">
    <div class="yandex-map-api">
        <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A9eca9b613eb41feb5595108aa2e72c591b72f019132211ae3d70d978764a6fc2&amp;source=constructor" width="900" height="490" frameborder="0"></iframe>
        <div class="overlay"></div>
    </div>
    <div class="yandex-map-text">
        будем рады<br> видеть вас<br> на <span style="text-decoration: underline; text-decoration-skip-ink: none; color: #a673d8;">очной</span> консультации по адресу:
    </div>
    <div class="yandex-map-address">
        Москва, Малый Козловский переулок, 6
    </div>
</div>

<div class="footer">
    <div class="footer-content">
        <div class="footer-section">
            <h2 class="footer-title red">clinic slimness</h2>
        </div>
        <div style="width: 0px;height: 122px; border: 1px #232323 solid"></div>
        <div class="footer-section">
            <h3 class="footer-heading">наши услуги</h3>
            <ul class="footer-list">
                <li class="footer-item">услуга 1</li>
                <li class="footer-item">услуга 2</li>
                <li class="footer-item">услуга 3</li>
            </ul>
        </div>
        <div style="width: 0px; height: 122px; border: 1px #232323 solid"></div>
        <div class="footer-section">
            <h3 class="footer-heading">компания</h3>
            <ul class="footer-list">
                <li class="footer-item">о нас</li>
                <li class="footer-item">аптека</li>
                <li class="footer-item">контакты</li>
            </ul>
        </div>
        <div style="width: 0px;height: 122px; border: 1px #232323 solid"></div>
        <div class="footer-section">
            <h3 class="footer-heading">контакты</h3>
            <ul class="footer-list">
                <li class="footer-item">
                    <!-- Выпадающий список телефонных номеров -->
                    <select class="footer-phone-select" onchange="location = this.value;">
                        <option value="tel:+74956080101">+7 495 608-01-01</option>
                        <option value="tel:+74956077950">+7 495 607-79-50</option>
                        <option value="tel:+74956073701">+7 495 607-37-01</option>
                        <option value="tel:+74955438384">+7 495 543-83-84</option>
                    </select>
                </li>
                <li class="footer-item"><a href="mailto:info@medicsel.ru" style="color:#232323;">info@medicsel.ru</a></li>
                <li class="footer-item" style="width: auto">г. Москва, пер. Малый Козловский, д. 6</li>
            </ul>
        </div>
    </div>
</div>




<script>
  AOS.init();
</script>

<script>
document.addEventListener("DOMContentLoaded", function() {
  var rightArrow = document.querySelector('.arrow-svg.right');
  var textBox = document.querySelector('.text-box-1');
  var cardTexts = [
    "Описание услуги 2",
    "Описание услуги 1",
    "Описание услуги 3"
  ];

  rightArrow.addEventListener('click', function() {
    // Получаем элементы карточек
    var cards = document.querySelectorAll('.card');

    // Получаем элементы номеров на карточках
    var numbers = document.querySelectorAll('.number-box');

    // Находим индекс активной карточки
    var activeCardIndex = Array.from(cards).findIndex(card =>
      card.querySelector('.number-box').classList.contains('number-box-service'));

    // Обновляем индекс для следующей карточки
    var nextActiveCardIndex = (activeCardIndex + 1) % cards.length;

    // Обновляем текст в text-box-1 для следующей активной карточки
    textBox.textContent = cardTexts[nextActiveCardIndex];

    // Убираем текст "Карточка услуги" у текущей активной карточки
    numbers[activeCardIndex].textContent = numbers[activeCardIndex].textContent.replace('Карточка услуги ', '');

    // Сохраняем классы номеров, чтобы переместить их на новые карточки
    var numbersClasses = Array.from(numbers).map(number => number.className);

    // Вращаем классы номеров
    var newNumbersClasses = numbersClasses.map((_, index) =>
      numbersClasses[(index + 1) % numbersClasses.length]);

    // Применяем новые классы к номерам и обновляем текст, если номер стал активным
    numbers.forEach((number, index) => {
      number.className = newNumbersClasses[index];
      if(number.classList.contains('number-box-service')) {
        number.textContent = 'Карточка услуги ' + number.textContent;
      }
    });

    // Вращаем стили карточек
    var redCardStyles = window.getComputedStyle(cards[0]);
    var purpleCardStyles = window.getComputedStyle(cards[1]);
    var blackCardStyles = window.getComputedStyle(cards[2]);

    setCardStyles(cards[0], purpleCardStyles);
    setCardStyles(cards[1], blackCardStyles);
    setCardStyles(cards[2], redCardStyles);
  });

  function setCardStyles(card, styles) {
    card.style.left = styles.left;
    card.style.top = styles.top;
    card.style.width = styles.width;
    card.style.height = styles.height;
    card.style.zIndex = styles.zIndex;
  }
});


</script>

{% endblock %}
