{% load static %}
{% block content %}

<style>
    body{
        /*background: gray;*/
        margin: 0;
        padding: 0;
        zoom: 80%
    }
    @font-face {
        font-family: 'Gropled';
        src: url('/static/fonts/Gropled-Bold.otf') format('opentype');
        font-weight: 700;
        font-style: normal;
    }
    @font-face {
        font-family: 'TT Fors';
        src: url('/static/fonts/TT Fors Trial Variable.ttf') format('truetype');
        font-weight: 400; /* Normal */
        font-style: normal;
    }

    .header{
        margin-top: 10px;
        margin-right: auto;
        margin-left: auto;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
        width: 73.75%;
        height: 100px;
        background: var(--main-grey, #232323);
        font-family: Fira Sans Condensed, sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        position: sticky;
        top: 10px;
        z-index: 10;
        border-radius: 20px;
    }
    .navbar{
        margin-bottom:auto;
        margin-top: auto;
        margin-left: auto;
        margin-right: 80px;
        height: 39px;
        width: auto;
        display: inline-flex;
        justify-content: flex-end;
        align-items: center;
        gap: 20px;
    }
    ul{
        gap: 20px;
        margin: 0;
        width: 100%;
        height: 100%;
        display: flex;
        list-style-type: none;
    }

    ul li{
        width: 95px;

    }
    .logo{
        color: var(--main-white, #F5F5F5);
        font-family: Gropled, sans-serif;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%; /* 32px */
        margin-left: 111px;
        margin-top: auto;
        margin-bottom: auto;
    }
    a{
        text-decoration: none;
        color: white;
    }
    .navbar a, .about-us-link a{
        color: var(--main-light-grey, #585858);
        text-decoration: none;
    }
    .navbar a:hover, .about-us-link a:hover{
        cursor: pointer;
        color: var(--main-grey, #232323);
        transition: 0.5s;
    }
    .main a {
        background-color: var(--main-grey, #232323); /* Фон для 'главная' */
        color: white; /* Цвет текста для 'главная' */
        border-radius: 80px; /* Скругление углов для 'главная' */
        padding: 10px 15px; /* Внутренние отступы для создания обводки */
        display: flex; /* Использование flexbox для центрирования текста */
        align-items: center; /* Центрирование текста по вертикали */
        justify-content: center; /* Центрирование текста по горизонтали */
        width: auto; /* Автоматическая ширина в зависимости от контента и padding */
    }

    /* Стили для остальных пунктов меню */
    .navbar a {
        font-family: "TT Fors", sans-serif;
        color: var(--main-light-grey, #585858);
        display: block;
        text-align: center;
        padding: 10px 15px; /* Одинаковые отступы для всех пунктов */
        border-radius: 80px; /* Скругление углов для всех пунктов */
    }

    /* Стили при наведении для всех пунктов меню */
    .navbar a:hover {
        color: var(--main-grey, #232323);
        background-color: white; /* Фон при наведении */
        text-decoration: none;
    }
    .navbar .active a {

        background-color: white; /* Фон для активного пункта меню */
        color: var(--main-grey, #232323); /* Цвет текста для активного пункта */

    }
    .title-page{
        margin-top: 100px;
        width: 73.75%;
        height: 141px;
        margin-right: auto;
        margin-left: auto;

    }
    .title-page-text{
        width: 505px;
        height: 141px;
        color: var(--main-grey, #232323);
        leading-trim: both;
        text-edge: cap;
        font-family: Gropled,sans-serif;
        font-size: 96px;
        font-style: normal;
        font-weight: 700;
        line-height: 80%; /* 76.8px */
    }
    .market{
        gap: 20px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 1180px;
        height: 1550px;
        margin-top: 100px;
    }

    .market-sorting{
        width: 280px;
        height: 529px;
        flex-shrink: 0;
        border-radius: 20px;
        background: var(--main-violet, #A673D8);
    }
    .search-sorting {
        justify-content: space-between;
        width: 880px;
        height: 57px;
        display: flex;
        gap: 20px; /* Расстояние между элементами */
    }

    .search input[type="search"] {
        width: 480px;
        height: 57px;
        border-radius: 50px;
        border: 1px solid #232323; /* Используем --main-grey как резервный цвет */
        color: #585858; /* Используем --main-light-grey как резервный цвет */
        font-family: 'TT Fors', sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 280;
        line-height: 18px; /* 100% от размера шрифта */
        padding: 0 40px 0px 30px; /* Отступ слева и справа внутри поля поиска */
        outline: none; /* Убираем контур при фокусе */
        background-image: url('/static/searchicon.svg');
        background-repeat: no-repeat;
        background-position: calc(100% - 40px) center;  /* Позиция иконки внутри поля */

    }

    .search input[type="search"]::placeholder {
        color: #585858;
    }

    .sort button {
        border-radius: 50px;
        border: 1px solid #585858; /* Используем --main-light-grey как резервный цвет */
        width: 280px;
        height: 57px;
        color: #585858; /* Используем --main-light-grey как резервный цвет */
        font-family: 'TT Fors', sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 280;
        line-height: 18px; /* 100% от размера шрифта */
        background-color: transparent; /* Прозрачный фон */
        cursor: pointer; /* Курсор в виде руки при наведении */
        background-image: url('/static/sorticon.svg'); /* Путь к вашей иконке */
        background-repeat: no-repeat;
        background-position: calc(100% - 23px) center; /* Иконка справа с отступом в 23px */
         /* Размер иконки */
        padding: 0 150px 0 30px; /* Отступы, учитывая место для иконки */
        outline: none;
    }

    .sort button:hover {
        background-color: #eaeaea; /* Легкий фон при наведении */
    }
    .sort{
        width: 280px;
        height: 57px;
    }
    .search{
        width: 480px;
        height: 57px;
    }
    .card{
        width: 280px;
        height: 452px;
        border-radius: 20px;
        border: 1px solid var(--main-grey, #232323);
        background: var(--main-white, #F5F5F5);
        box-sizing: border-box;
    }
    .card-container {
        display: flex;
        flex-wrap: wrap; /* Позволяет элементам переноситься на новую строку */
        gap: 20px; /* Устанавливает промежуток между карточками */
        justify-content: flex-start; /* Выравнивание карточек по началу контейнера */
        margin-top: 20px; /* Отступ сверху */
    }
    .footer{
        margin-top: 175px;
        margin-left: auto;
        margin-right: auto;
        height: 200px;
        width: 1180px;
        margin-bottom: 100px;
    }
    .footer {
        background: #fff; /* Задайте нужный фон */
        border-radius: 20px;
        border: 1px solid #232323;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        /*width: 100%; !* Растягиваем на всю ширину футера *!*/
        gap: 40px;
    }

    .footer-section {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-heading {
        color: var(--main-grey, #232323);
        font-family: 'TT Fors',sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 100%;
        margin-bottom: 10px; /* Отступ между заголовком и списком */
    }

    .footer-list {
        display: block;
        list-style: none; /* Убираем маркеры списка */
        padding: 0; /* Убираем отступы у списка */
        margin: 0; /* Убираем внешние отступы у списка */
    }

    .footer-item {
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        font-weight: 300;
        color: #232323;
        margin-bottom: 10px; /* Отступ между элементами списка */
    }

    .footer-title.red {
        color: #F22D3E; /* Красный цвет для названия */
        font-family: 'Gropled',sans-serif;
        font-weight: 700;
    }

    /* Для медиа запросов и адаптивности */
    @media (max-width: 768px) {
        .footer-content {
            flex-direction: column;
        }

        .footer-section {
            margin-bottom: 20px; /* Отступы между секциями в мобильном виде */
        }
    }
        .footer-phone-select {
        background: #FFF; /* Цвет фона выпадающего списка */
        color: #232323; /* Цвет текста */
        font-size: 16px; /* Размер шрифта */
        cursor: pointer; /* Курсор в виде руки */
        border: none;
    }

    /* Стили для элементов option */
    .footer-phone-select option {
        padding: 5px; /* Отступ для каждого элемента списка */
    }
    .type-card{
        width: 187px;
        height: 101px;
        margin-left: 20px;
        margin-top: 30px;
    }
    .type-card-text{
        color: var(--main-white, #F5F5F5);
        font-family: 'TT Fors', sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 100%; /* 20px */
        text-transform: uppercase;

    }
    .type-card-select{
        color: #F5F5F5;
        font-size: 18px;
        font-family: 'TT Fors', sans-serif;
        font-weight: 400;
        word-wrap: break-word;
        width: 167px;
        height: 36px;
        font-style: normal;
        line-height: 100%;
    }
    .slider {
        position: relative;
        margin-top: 42px;
        margin-left: auto;
        margin-right: auto;
        width: 170px;
        height: 229px;
    }

    .slides {
        height: 214px;
        justify-content: center;
        display: flex;
        overflow: hidden;
    }

    .slide {
        display: none; /* Скрыть все изображения */
        transition: 0.5s; /* Плавная анимация при смене слайдов */
    }

    .slide.active {
        display: block; /* Показать активное изображение */
    }

    .slider-indicators {
        margin-top: 32px;
        gap: 5px;
        display: flex;
        width: 170px;
    }

    .indicator {
        width: 30px;
        height: 3px;
        cursor: pointer;
        border-radius: 50px;
        background: var(--main-light-light-grey, #B5B5B5);
        transition: background-color 0.5s;
    }

    .indicator.active {
        background: var(--main-violet, #A673D8);
    }
    .card-title{
        color: var(--main-grey, #232323);
        font-family: 'TT Fors', sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 100%; /* 20px */
        margin-left: 20px;
        margin-top: 36px;
    }
    .card-subtitle{
        color: var(--main-grey, #232323);
        font-family: 'TT Fors', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 160;
        line-height: 100%; /* 16px */
        margin-left: 20px;
        margin-top: 10px;
        width: 240px;
        height: 32px;
    }
    .card-price, .currency{
        color: var(--main-violet, #A673D8);
        font-family: 'TT Fors', sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%; /* 20px */
        letter-spacing: -0.8px;
    }
    .currency {
        font-size: 0.6em; /* Уменьшить шрифт вдвое относительно основного текста */
        vertical-align: super; /* Поднять символ рубля */
    }
    .card-button button{
        justify-content: center;
        height: 26px;
        border-radius: 20px;
        background: var(--main-violet, #A673D8);
        border: none;
        width: 113px;
        color: var(--main-grey, #232323);
        leading-trim: both;
        text-edge: cap;
        font-family: 'TT Fors', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 280;
        line-height: 100%;
        transition: background-color 0.5s;
        transition: color 0.5s;
    }
    .card-button button:hover{
        background: var(--main-violet, #232323);
        color: var(--main-grey, white);
    }

.slider-track {
        position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

.track-section {
    flex-grow: 1;
    height: 100%;
    /* Добавьте background-color: transparent; если нужно */
}




</style>

<link href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>

<div class="header" style="display: flex" >
    <div class="logo" >
        <a href="" ><img src="">clinic slimness</a>
    </div>
    <div class="navbar">
        <ul>
            <li>
                <div class="main " style="">
                    <a href="{% url 'login' %}">главная</a>
                </div>
            </li>

            <li>
                <div class="production active">
                    <a href="{% url 'market' %}">аптека</a>
                </div>
            </li>
            <li>
                <div class="about-us">
                    <a href="">о нас</a>
                </div>
            </li>
            <li>
                <div class="cart">
                    <a href="">корзина</a>
                </div>
            </li>
        </ul>

    </div>
</div>
<div class="title-page">
    <div class="title-page-text">наша продукция</div>
</div>
<div class="market">
    <div style="display: flex">
        <div class="market-sorting">
            <div class="type-card">
                <div class="type-card-text">Тип</div>
                <div style="width: 187px;height: 36px; display: flex; margin-top: 15px">
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="9" viewBox="0 0 12 9" fill="none" style="margin-top: 7px; margin-right: 7px">
                      <path d="M1 4.13726L4.46154 7.66667L11 1" stroke="#F5F5F5" stroke-linecap="square"/>
                    </svg>
                    <div class="type-card-select">фармацептические препараты</div>
                </div>
                <div style="width: 187px;height: 36px; display: flex; margin-top: 15px">
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="9" viewBox="0 0 12 9" fill="none" style="margin-top: 3px; margin-right: 7px">
                      <path d="M1 4.13726L4.46154 7.66667L11 1" stroke="#000" stroke-linecap="square"/>
                    </svg>
                    <div class="type-card-select" style="color: #000">БАДы</div>
                </div>
            </div>
            <hr style="width: 240px; margin-left: auto;margin-right: auto; border-color: black; margin-top: 30px; margin-bottom: 30px;height:1px;border:none;color:#333;background-color:#333;">
         </div>
        <div style="display: block; margin-left: 20px">
            <div class="search-sorting">
                <div class="search">
                    <input type="search" placeholder="Поиск продукции по категории">
                </div>
                <div class="sort">
                    <button type="button">Сортировка</button>
                </div>
            </div>
            <div class="card-container">
            {% for product in first_three_products %}
                <div class="card">
                    <div class="slider">
                        <div class="slides">
                            {% if product.photo1 %}
                                <img src="{{ product.photo1.url }}" class="slide active" alt="{{ product.name }}">
                            {% endif %}
                            {% if product.photo2 %}
                                <img src="{{ product.photo2.url }}" class="slide" alt="{{ product.name }}">
                            {% endif %}
                            {% if product.photo3 %}
                                <img src="{{ product.photo3.url }}" class="slide" alt="{{ product.name }}">
                            {% endif %}
                            {% if product.photo4 %}
                                <img src="{{ product.photo4.url }}" class="slide" alt="{{ product.name }}">
                            {% endif %}
                            {% if product.photo5 %}
                                <img src="{{ product.photo5.url }}" class="slide" alt="{{ product.name }}">
                            {% endif %}
                        </div>
                        <div class="slider-track">
                            {% if product.photo1 %}<div class="track-section"></div>{% endif %}
                            {% if product.photo2 %}<div class="track-section"></div>{% endif %}
                            {% if product.photo3 %}<div class="track-section"></div>{% endif %}
                            {% if product.photo4 %}<div class="track-section"></div>{% endif %}
                            {% if product.photo5 %}<div class="track-section"></div>{% endif %}
                        </div>
                        <div class="slider-indicators">
                            <span class="indicator active"></span>
                            {% if product.photo2 %}<span class="indicator"></span>{% endif %}
                            {% if product.photo3 %}<span class="indicator"></span>{% endif %}
                            {% if product.photo4 %}<span class="indicator"></span>{% endif %}
                            {% if product.photo5 %}<span class="indicator"></span>{% endif %}
                        </div>
                    </div>
                    <div class="card-title">{{ product.name }}</div>
                    <div class="card-subtitle">{{ product.short_description }}</div>
                    <div style="display: flex; width: 240px; margin-left: auto; margin-top:30px; margin-right: auto; justify-content: space-between;">
                        <div class="card-price">{{ product.price }}<span class="currency">₽</span></div>
                        <div class="card-button"><button>в корзину</button></div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
</div>

<div class="card-container">
    {% for product in next_eight_products %}
        <div class="card">
            <div class="slider">
                <div class="slides">
                    {% if product.photo1 %}
                        <img src="{{ product.photo1.url }}" class="slide active" alt="{{ product.name }}">
                    {% endif %}
                    {% if product.photo2 %}
                        <img src="{{ product.photo2.url }}" class="slide" alt="{{ product.name }}">
                    {% endif %}
                    {% if product.photo3 %}
                        <img src="{{ product.photo3.url }}" class="slide" alt="{{ product.name }}">
                    {% endif %}
                    {% if product.photo4 %}
                        <img src="{{ product.photo4.url }}" class="slide" alt="{{ product.name }}">
                    {% endif %}
                    {% if product.photo5 %}
                        <img src="{{ product.photo5.url }}" class="slide" alt="{{ product.name }}">
                    {% endif %}
                </div>
                <div class="slider-track">
                    {% if product.photo1 %}<div class="track-section"></div>{% endif %}
                    {% if product.photo2 %}<div class="track-section"></div>{% endif %}
                    {% if product.photo3 %}<div class="track-section"></div>{% endif %}
                    {% if product.photo4 %}<div class="track-section"></div>{% endif %}
                    {% if product.photo5 %}<div class="track-section"></div>{% endif %}
                </div>
                <div class="slider-indicators">
                    <span class="indicator active"></span>
                    {% if product.photo2 %}<span class="indicator"></span>{% endif %}
                    {% if product.photo3 %}<span class="indicator"></span>{% endif %}
                    {% if product.photo4 %}<span class="indicator"></span>{% endif %}
                    {% if product.photo5 %}<span class="indicator"></span>{% endif %}
                </div>
            </div>
            <div class="card-title">{{ product.name }}</div>
            <div class="card-subtitle">{{ product.short_description }}</div>
            <div style="display: flex; width: 240px; margin-left: auto; margin-top:30px; margin-right: auto; justify-content: space-between;">
                <div class="card-price">{{ product.price }}<span class="currency">₽</span></div>
                <div class="card-button"><button>в корзину</button></div>
            </div>
        </div>
    {% endfor %}
</div>

<div class="footer">
    <div class="footer-content">
        <div class="footer-section">
            <h2 class="footer-title red">clinic slimness</h2>
        </div>
        <div style="width: 0px;height: 122px; border: 1px #232323 solid"></div>
        <div class="footer-section">
            <h3 class="footer-heading">наши услуги</h3>
            <ul class="footer-list">
                <li class="footer-item">услуга 1</li>
                <li class="footer-item">услуга 2</li>
                <li class="footer-item">услуга 3</li>
            </ul>
        </div>
        <div style="width: 0px; height: 122px; border: 1px #232323 solid"></div>
        <div class="footer-section">
            <h3 class="footer-heading">компания</h3>
            <ul class="footer-list">
                <li class="footer-item">о нас</li>
                <li class="footer-item">аптека</li>
                <li class="footer-item">контакты</li>
            </ul>
        </div>
        <div style="width: 0px;height: 122px; border: 1px #232323 solid"></div>
        <div class="footer-section">
            <h3 class="footer-heading">контакты</h3>
            <ul class="footer-list">
                <li class="footer-item">
                    <!-- Выпадающий список телефонных номеров -->
                    <select class="footer-phone-select" onchange="location = this.value;">
                        <option value="tel:+74956080101">+7 495 608-01-01</option>
                        <option value="tel:+74956077950">+7 495 607-79-50</option>
                        <option value="tel:+74956073701">+7 495 607-37-01</option>
                        <option value="tel:+74955438384">+7 495 543-83-84</option>
                    </select>
                </li>
                <li class="footer-item"><a href="mailto:info@medicsel.ru" style="color:#232323;">info@medicsel.ru</a></li>
                <li class="footer-item" style="width: auto">г. Москва, пер. Малый Козловский, д. 6</li>
            </ul>
        </div>
    </div>
</div>



<script>
document.querySelectorAll('.card').forEach(card => {
    let slides = card.querySelectorAll('.slide');
    let indicators = card.querySelectorAll('.indicator');
    let trackSections = card.querySelectorAll('.track-section');
    let currentSlide = 0;

    function updateSlider(index) {
        slides.forEach(slide => slide.classList.remove('active'));
        indicators.forEach(indicator => indicator.classList.remove('active'));

        slides[index].classList.add('active');
        indicators[index].classList.add('active');
        currentSlide = index; // Обновляем текущий слайд
    }
    // Обработка перемещения курсора на track-sections
trackSections.forEach((section, index) => {
    section.addEventListener('mousemove', () => {
        if (currentSlide !== index) {
            updateSlider(index);
        }
    });
});

// Обработка наведения на индикаторы
indicators.forEach((indicator, index) => {
    indicator.addEventListener('mouseenter', () => {
        updateSlider(index);
    });
});

// Инициализация слайдера
updateSlider(currentSlide);
});
</script>

{% endblock %}